<<<<<<< HEAD
#carouselId{
    max-height: 600px;
    margin-left: 10px;
    margin-right: 10px;
}

.jumbotron.text-center{
    padding: 150px;
}
=======
img{
    height: 300px;
}
>>>>>>> alterar-cores
img{
    height: 300px;
}